:root {
    --main-color: #4e342e;
    --brown: #33221F;
    --color: #D3B691;
    --second-color: #4c4c4e;
    --yellow: #ffcd00;
    --light-yellow: #ffe0b2;
    --gray: #999;
}
a {
    color: inherit;
}
button {
    cursor: pointer;
}
.lazyload-placeholder {
    flex: auto;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-avatar 1.6s infinite linear;
}

@keyframes shine-avatar {
    0% {
        background-position: -32px;
    }
    40%, 100% {
        background-position: 208px;
    }
}
body {
    color: #333;
    font: .625em/1.5 "corpid_reg", Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.container {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
