.HeaderContainer {
  display: flex;
  min-height: 80px;
  align-items: center;
}

.Header {
  background-color: var(--main-color);
}

.HeaderWrapper {

}

.logoLink {
  text-decoration: none;
  padding: 0;
  background: none;
  margin: 0;
  outline: none;
  box-shadow: none;
  border: 0;
}

.logoImage {
  height: 40px;
  width: auto;
  margin: 0;
}
.projectName {
  margin: 0;
  margin-left: 26px;
  padding: 0;
  color: #ffb74d;
  line-height: 1;
  font-size: 36px;
  font-weight: 700;
  font-family: "corpid_reg", Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  @media (max-width: 992px) {
    font-size: 25px;
  }
}

