.Back {
  padding: 0;
  margin: 0;
  outline: none;
  color: inherit;
  box-shadow: none;
  border: 0;
  background: none;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}


.BackSvg {
  height: 80px;
  width: 50px;
  @media (max-width: 992px) {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}


